body{
    font-family: 'Old Standard TT', serif;
    background: url(https://zuri-registration.lhucyc.repl.co/Images/background.jpg);
    background-size: 2000px 2000px;
    margin-left: 0;
    padding: 0;
}
.frm{
    width: 300px;
    border-radius: 10px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(173, 133, 133, 0.4);
    text-align: center;    
}
.frm h1{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}
.frm input[type="text"],.frm input[type="password"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #fbf6d9;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
}
.frm input[type="text"]:focus,.frm input[type="password"]:focus{
    width: 270px;
    border-color: gray;
}
.frm input[type="submit"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid gray;
    padding: 9px 15px;
    outline: none;
    color: white;
    border-radius: 15px;
    transition: 0.25px;
    cursor: pointer;
}
.frm input[type="submit"]:hover{
    background: #fbf6d9;
    color: black; 
}