body{
    margin: 2% 3%;
    color: white;
    background: url(https://zuri-registration.lhucyc.repl.co/Images/background.jpg);
    background-size: 2000px 2000px;
    height: 80vh;
    font-family: 'Old Standard TT', serif;
}

.reg_bod{
    width: 400px;
    border-radius: 10px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(173, 133, 133, 0.4);
    text-align: center; 
    line-height: 23px;   
}
label{
    display: block;
}
input{
    border-radius: 4px;
    border: none;
}
h1{
    text-transform: uppercase;
    margin-bottom: -10px;
    /* margin-left: 10%; */
}
.link a{
    color: #fbf6d9;
    text-decoration: none;
}
